.header {
    /* 85% of height of viewport */
    height: 85vh;
    background-image: linear-gradient(to right, rgba($color-primary, 0.6), $color-primary-blue), url(../img/background.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    position: relative;

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 5rem;
    }
    
    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}